{erl_opts, [debug_info, warnings_as_errors]}.

{minimum_otp_vsn, "21"}.

{profiles, [{doc, [{deps, [edown]}, {edoc_opts, [{doclet, edown_doclet}]}]}]}.

{dialyzer, [{warnings, [no_return]}
           ,{plt_apps, top_level_deps}
           ,{plt_prefix, "director"}]}.

{deps, [
    % Handle stacktrace changes in OTP 21
    {stacktrace_compat, "1.2.0"}
]}.

{erl_opts, [
    % stacktrace_compat parse transform
    {parse_transform, stacktrace_transform}
]}.

